# C#
csharp/bin/*
csharp/obj/*

# C
c/*.exe
c/*.obj
c/*.dll
c/*.def
c/*.lib
c/*/*.dll
c/*/*.def

# Generated images
c/*.png
c/*/*.png

# Python
python/nvgif/__pycache__/*
python/package/dist/*
python/package/src/nvgif.egg-info/*
*.pyc

# Java
c/java/*.class
c/java/*/*.class
c/java/dist/*

# Docs
implementations/build/*

# Misc
*.log