<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="assets/css/index.css">
<link rel="stylesheet" href="assets/css/pygments.css">
<title>{{ page.title }} | NVGIF docs</title>
</head>
<body>

<a href="#maincontent" class="skip-link">Skip to content</a>

<nav id="myTopnav">
  <a href="/nvgif/" class="logo">nvgif</a>
  <a href="/nvgif/specs/">Specification</a>
  <a href="/nvgif/implementations/">Implementations</a>
  <a href="javascript:void(0);" class="icon" onclick="openNav()">
    <i class="fa fa-bars"></i>
  </a>
</nav>

<aside class="sidenav" aria-label="Table of contents">
  <h1>Table of Contents</h1>
</aside>

<article id="maincontent">
{{ content }}
</article>

<footer role="contentinfo">
  <p><em id="quote"></em></p>
  <p>&copy; tiash-and-cats &amp; contributors <span id="year"></span><br>
  <small>The NVGIF docs, examples & reference implementations are licensed under the MIT License. In practice this means you can use this code in your projects without paying any kind of fee or subscription.</small></p>
</footer>

<script src="assets/js/index.js"></script>

</body>
</html>